*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
/* common */
body{
   font-family: 'Open Sans', sans-serif;
}
.clear-fix::after{
   content: "";
   display: table;
   clear: both;
}
.col{
   float: left;
}
img{
   width: 100%;
}
.container{
   max-width: 1080px;
   margin: auto;
}
.big-container{
   margin: auto;
   max-width: 1300px;
}
.debug{
   display: block;
}



/* header */
header{
   position: fixed;
   padding: 15px;
   width: 100%;
   background:white;
   z-index: 10;
}
.logo img{
   vertical-align: middle;
}
.logo, .nav-top-left.nav-top{
   float: left;
}
.nav-top-rgt.nav-top{
   float: right;
}
.nav-top ul li{
   display: inline-block;
   margin-left: 15px;
}
.nav-top ul li a{
   padding: 15px;
   text-decoration: none;
   color: inherit;
   font-size: small;
}
/* bottoni */
.btn{
   border: none;
   padding: 10px 20px;
   background-color:#0061ff ;
   color: #fff;
}
 /* hero */

.hero{
   background: #b4d0e6;
   position: relative;
   margin-bottom: 100px;
}
.hero .big-container{
   position: relative;
   bottom: -70px;
}
.hero .big-container h1{
   font-size: 4.5em;
   margin-bottom: 30px;
}
.hero .big-container p{
   margin-bottom: 15px;
}
.hero .big-container i{
   margin-top: 30px;
   font-size: 50px;
}
.text-hero{
   width: calc(30% - 10px);
   margin: 0 5px;
}
.img-hero{
   width: calc(70% - 10px);
   margin: 0 5px;
}
/* service */
.service{
   margin: 130px 0;
}
h2{
   margin: 50px 0;
}
h3{
   font-size: 20px;
}
div.imput{
   margin: 20px 0;
   margin-right: 20px;
}
.plan{
   width: calc(100% /3 - 20px);
}
.plan-type{
   font-size: 12px;
   text-align: center;
   border: 1px solid rgba(0, 0, 0, 0.4);
   border-bottom: none;
   padding: 6px 0;
}

.type-user{
   font-size: 14px;
   border: 1px solid rgba(0, 0, 0, 0.4);
   padding: 25px;
}
.type-user>*{
   margin-bottom: 30px;
}
.type-user .price>span, .type-user .info-plan>span{
   display: block;
   margin-bottom: 20px;
}
/* .cost, .info{
   display: block;
   margin-bottom: 5px;
   font-weight: bold;
} */
.info{
   color: #637381;
}
.people, .memory, .premium{
   display: block;
   margin-bottom: 20px;
}
.type-user hr{
   width: 30%;
   color: rgba(0, 0, 0, 0.4);
}
.sales-package ul{
   margin-top: -10px;
}

.type-user ul li{
   list-style:none ;
   margin-bottom: 15px;
   
}
.type-user ul li i{
   color: #0061ff;
}
.plan.mid{
   margin: 0 30px;
   margin-bottom: 20px;
}
.col .type-user{
   height: 750px;
}

.container>.type-user{
   margin-top: 30px;
}
.costumer-service{
   float: left;
}
.type-user.under .clear-fix h3{
   float: left;
}
.type-user.under .clear-fix button{
   float: right;
}

.type-user.under strong {
   margin-top: -40;
} 

/* partener */
.partener{
   margin: 100px 0;
}
.col2{
   width: calc(100% / 2 - 40px);
   margin: 0 20px;
}

 .container .clear-fix .text>*{
   margin-top: 30px;
}
.btn-wh{
   margin-top: 20px;
   color: black;
    border: 1px solid black;
    background-color: #fff;
}
.dropbox-busines .container>*{
   margin: 100; 
}

h2{
   margin: 50px 0;
}
.ending-main .container a{
   color: #0061ff;
}
.dropbox-busines .container h2{
   font-size: 50px;
} 
.advertising{
   margin-top: 150px;
}
.square img{
   width: 75%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   filter: grayscale(1);
}
.square{
   position: relative;
   height: 12.5vw;
   width: 12.5vw;

}

div.col-sx,div.col-dx{
   margin: auto;
   height: 25vw;
}
.space-cn{
   width: 40%;
   margin: 0 25px;
   height: 25vw;
   padding: 40px;
}
.space-cn img{
   width: 35%;
   color: black;
}
.space-sx,.space-cn,.space-dx{
   float:left
}
.space-cn hr{
   margin: 20px 0;
   width: 60px;
}
.sponsor{
   background-color:  #f5f5f5;
}
.square-designit{
   border: 10px solid  #d0e9cd ;
   background-color:#a2d39b ;
}
.square-asu{
   background-color:#61082b ;
}

.square-florida{
   background-color: #0093ce;
}

.square-topps{
   background-color:  #ff1c1c;
}

.square-wbr{
   background-color:  #d5001f ;
}

.square-herst{
   background-color:#b4d0e7 ;
}

.square-lonely-planet{
   background-color: #0d2481;
}

.square-channel{
   background-color: #ffd830 ;
}
.sing-in{
   background-color:#b4d0e7;
   padding: 20px;
}
.sing-in .container h2{
   color: #61082b;
  display: inline-block;
  margin-right: 500px;
}
.last-btn{
   border: none;
   padding: 10px 35px;
   
   
}