*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
/* common */
.clear-fix::after{
   content: "";
   display: table;
   clear: both;
}
.col{
   float: left;
}
img{
   width: 100%;
}

body{
   font-family: 'Open Sans', sans-serif;
}

/* header */
header{
   position: fixed;
   padding: 15px;
   width: 100%;
   background:white;
   z-index: 10;
}
.logo img{
   vertical-align: middle;
}
.logo, .nav-top-left.nav-top{
   float: left;
}
.nav-top-rgt.nav-top{
   float: right;
}
.nav-top ul li{
   display: inline-block;
   margin-left: 15px;
}
.nav-top ul li a{
   padding: 15px;
   text-decoration: none;
   color: inherit;
   font-size: small;
}
/* bottoni */
.btn{
   border: none;
   padding: 10px 20px;
   background-color:#0061ff ;
   color: #fff;
}
 /* hero */
 .big-container{
   margin: auto;
   max-width: 1300px;
}
.hero{
   background: #b4d0e6;
   position: relative;
}
.hero .big-container{
   position: relative;
   bottom: -70px;
}
.hero .big-container h1{
   font-size: 4.5em;
   margin-bottom: 30px;
}
.hero .big-container p{
   margin-bottom: 15px;
}
.hero .big-container i{
   margin-top: 30px;
   font-size: 50px;
}
.text-hero{
   width: calc(30% - 10px);
   margin: 0 5px;
}
.img-hero{
   width: calc(70% - 10px);
   margin: 0 5px;
}
